<template>
    <div class="header" style="position:relative">
      <img style="width:1368px" src="./../assets/header.jpg" alt />
      <div style="width:100%; height:3rem; position:absolute;top:28px;right:150px">
        <div
          style="margin-left:1.5rem;width:3rem;height:100%;background-color:rgb(0,0,0,0.3);float:right; border-radius:10px;"
        ></div>
        <div
          style="margin-left:0.5rem;width:3rem;height:100%;background-color:rgb(0,0,0,0.3);float:right; border-radius:10px;"
        >
          <b-icon style="color:white; margin-top:10px;" icon="bell"></b-icon>
        </div>
        <div
          style="display:flex;flex-direction:column ;width:9rem;height:100%;background-color:rgb(0,0,0,0.3);float:right; border-radius:10px;"
        >
          <div>
            <p
              style="float:left;margin-left:6px;margin-top:6px;color:rgb(207,207,207,0.8);font-size:10px;"
            >Your Saving</p>
          </div>
          <div style="color:white; margin-left:5px;font-weight:bold;">$</div>
        </div>
      </div>
    </div>
</template>