<template>
  <div id="app">
    <Header />

    <div
      class="card"
      style="position:relative;top:-40px;width:1040px; height:4.3rem; background-color:white;margin-left:auto;margin-right:auto;border-radius:5px;overflow:hidden"
    >
      <b-navbar>
        <template slot="start">
          <b-navbar-item href="#" active>Home</b-navbar-item>
          <b-navbar-item href="#">Recognition</b-navbar-item>
          <b-navbar-item href="#">Benefits</b-navbar-item>
          <b-navbar-item href="#">Discount</b-navbar-item>
          <b-navbar-item href="#">Settings</b-navbar-item>
        </template>
      </b-navbar>
    </div>

    <div style="display:flex;flex-direction:row">
      <div style="position:relative">
        <img
          class="card"
          style="width:650px; background-color:#F8F2E6; margin-left:155px; border-radius:10px;"
          src="./assets/badge.jpg"
          alt
        />
        <div style="position:absolute;top:0px;margin-left:155px;">
          <div class="tabs is-toggle">
            <ul>
              <li class="is-active">
                <a>
                  <span style="color:rgb(90, 90, 90);font-weight:bold">Badges</span>
                </a>
              </li>
              <li>
                <a style="border:none">
                  <span>Recognition</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="select" style="width:300px;margin-left:29px;">
            <select style="width:400px; margin-bottom:10px">
              <option>Team Player</option>
              <option>Other</option>
            </select>
            <b-field>
              <input
                class="input"
                v-model="recieverEmailId"
                type="text"
                placeholder="Email ID of reciever"
              />
            </b-field>
          </div>
        </div>
        <div
          class="card"
          style="padding:1.5rem;text-align:left;position:relative;top:-10px;width:650px;height:100px; background-color:white; margin-left:155px;"
        >
          <input
            type="text"
            class="inp"
            style="border:none;height:2.5rem;width:480px "
            placeholder="Enter Your Comments"
          />

          <button
            class="button"
            @click="giveBadge()"
            style="background-color:#A23C69;color:white;height:2.5rem"
          >GIVE BADGE</button>
        </div>

        <div
          class="card"
          style="margin-left:155px; margin-top:2rem;border-radius:8px;height:200px;overflow:hidden"
        >
          <div style="width:100%;height:70px;background-color:#FDD165;padding:0.8rem;">
            <div style="font-weight:bold;font-size:22px">WALL OF FAME</div>
          </div>
        </div>
      </div>

      <div>
        <div
          class="card"
          style="padding:1rem;margin-left:2rem;border-radius:8px;height:200px; width:356px"
        >
          <div style="display:flex;flex-direction:row">
            <div style="height:60px;width:60px;border-radius:100px; background-color:violet"></div>
            <div style="margin:1rem;text-align:left;">
              <h1>{{empObj.name}}</h1>
              <p style="font-size:10px; color:grey">Designation : {{empObj.designation}}</p>
              <p style="font-size:10px; color:grey">Employee ID :{{empObj.id}}</p>
            </div>
          </div>

          <div style="display:flex;flex-direction:row;margin-top:1rem">
            <img src="./assets/team.png" alt />
            <p style="font-size:28px; font-weight:bold;color:grey">100</p>
            <button
              class="button"
              style="background-color:#A23C69;color:white;height:2.5rem;margin-left:auto"
            >REDEEM</button>
          </div>
        </div>

        <div
          class="card"
          style="padding:1rem;margin:2rem;border-radius:8px;height:200px; width:356px"
        >
          <div style="text-align:left">
            <p style="font-size:12px;color:grey;font-weight:bold">MY BADGES</p>
            <p style="font-size:10px;color:grey">You have 0 Badges</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./components/Header";
import axios from 'axios';

export default {
  props: ["empObj"],
methods :{
  giveBadge(){
    axios
        .post("http://localhost:8080/api/login", {
          "email": this.emailId,
          "name": this.idPassword
        })
        .then(response=> {
        
          if (response["data"]["id"] !=0)
          {
            this.empObj=response["data"]
            console.log(this.empObj)
          this.loggedin = true;
         
          }
          else{
            this.wrongpassword=true
          }
        });
  }
},
  data() {
    return {
      recieverEmailId:''
    }
  },
  name: "App",
  components: { Header }
};
</script>

<style>
a.navbar-item,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  border-radius: 5px !important;
  margin: 1rem;
}
.inp:focus {
  outline: none !important;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  color: #ac5078 !important;

  font-weight: bold !important;
}
.tabs.is-toggle li.is-active a {
  background-color: #f8f2e6 !important;
  border: none !important;
}

#app {
  background-color: #f5f5f5;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 5000px;
  margin: 0px;
}
</style>
