<template>
  <div>
    <section v-if="!loggedin" class="hero is-success is-fullheight">
      <Header style="position:fixed" />
      <div class="hero-body">
        <div class="container has-text-centered">
          <div
            class="column is-4 is-offset-4 card"
            style="background-color:pink;border-radius:12px"
          >
            <h3 class="title has-text-black">Employee Login</h3>
            <hr class="login-hr" />
            <p class="subtitle has-text-black">Please login to proceed.</p>
            <div class="box">
              <form>
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-large"
                      v-model="emailId"
                      type="email"
                      placeholder="Your Email"
                      autofocus
                    />
                  </div>
                </div>
                <p v-if="wrongpassword" style="color:red">Wrong Password</p>
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-large"
                      v-model="idPassword"
                      type="password"
                      placeholder="Your Password"
                    />
                  </div>
                </div>
                <div class="field"></div>
                <button class="button is-block is-info is-large is-fullwidth" type="button" @click="home()">
                  Login
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <App v-if="loggedin" :empObj="empObj"></App>
  </div>
</template>

<script>
import App from "./App";
import axios from 'axios';
import Header from "./components/Header";
export default {
  components: { App, Header },
  methods: {
    home() {
      

      axios
        .post("http://localhost:8080/api/login", {
          "email": this.emailId,
          "name": this.idPassword
        })
        .then(response=> {
        
          if (response["data"]["id"] !=0)
          {
            this.empObj=response["data"]
            console.log(this.empObj)
          this.loggedin = true;
         
          }
          else{
            this.wrongpassword=true
          }
        });

      
    }
  },
  data() {
    return {
      loggedin: false,
      emailId: "",
      idPassword: "",
      wrongpassword:false,
      empObj: { name: "Chandresh Phirke", designation: "SDE", empId: "10011 " }
    };
  }
};
</script>

<style lang="css" scoped>
html,
body {
  font-family: "Questrial", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.hero.is-success {
  background: #f2f6fa;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}

input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

.login-hr {
  border-bottom: 1px solid black;
}

.has-text-black {
  color: black;
}

.field {
  padding-bottom: 10px;
}

.fa {
  margin-left: 5px;
}
</style>